@keyframes shine-animate {
  0%,
  35% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shine {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  transform: translateX(-100%);
  animation: shine-animate 2s infinite;
}
